/*.haven__haven{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: var(--Lighter-Blue, #1A2130);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
}
.haven__haven-title{
    color: var(--White, #D9D9D9);
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.haven__haven-images-all{
    text-align: center;
}
.haven__haven-images-content1{
    text-align: left;
}
.haven__haven-images-content2{
    text-align: center;
}
.haven__haven-images-content3{
    text-align: right;
}
.haven__haven-images-content1-text1{
    position: absolute;
    top: 2245px;
    left: 290px;
    color: var(--White, #D9D9D9);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.haven__haven-images-content1-title1{
    
    margin-left: 50px;
    bottom: 950px;
    color: var(--White, #D9D9D9);
    text-align: left;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.haven__haven-images-content2-text2{
    position: absolute;
    top: 2520px;
    left: 620px;
    color: var(--White, #D9D9D9);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.haven__haven-images-content1-title2{
    margin-left: 430px;
    color: var(--White, #D9D9D9);
    text-align: left;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}*/
