.haven__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}
.haven__navbar-links {
    /*flex: 1;*/
    display: flex;
    /*justify-content: flex-start;*/
    align-items: center;
    gap: 12px;
}
.haven__navbar-links_logo {
    /*margin-right: 0rem;*/
    display: flex;
    align-items: center;
}

.haven__navbar-links_logo img {
    width: 50px;
    height: 50px;
    margin-right: 2px;
}
.haven__navbar-links_name{
    font-size: 1.5rem;
    color: var(--color-text);
}
.haven__navbar-links_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 26px;
    /*flex-shrink: 0;*/
    color: var(--White, #D9D9D9);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 21px;
    margin-bottom: 21px;
}
.haven__navbar_sign{
    display: flex;
    /*justify-content: flex-end;*/
    align-items: center;
    position: absolute;
    
}
/*.haven__navbar-links_name,*/
.haven__navbar-sign p,
.haven__navbar-menu_container p{
    /*padding: 0.5rem 1rem;*/
    /*width: 98px;
    height: 24px;*/
    position: absolute;
    right: 226.936px;
    /*top: 35px;*/
    color: var(--White, #D9D9D9);
   /*text-align: center;*/
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 2rem;
   margin-top: 6px;
    margin-left: 1173.2px;
   /* margin: 0 1rem;*/
    cursor: pointer;
}
.haven__navbar-sign button,
.haven__navbar-menu_container button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: var(--Yellow, #EBA654);
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-left: 58rem;
    border: none;
    outline: none;
    cursor: pointer;
    
    
}